<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default_layout}">
	<div class="tab-contents Ptype04" layout:fragment="content">
		<script src="./js/charge.js"></script>
		
		<th:block th:replace="~{fragment/location :: location}" ></th:block>

		<!-- 검색 -->
		<div class="search-conditions con-box">
			<div class="setting-grid">
				<div class="setting-grid-title">매칭구분</div>
				<div class="setting-grid-content">
					<div class="input-group">
						<select id="condMatCd">>
						</select>
					</div>
				</div>
				<div class="setting-grid-title">공급자ID</div>
				<div class="setting-grid-content">
					<div class="input-wrapper">
						<input type="text" id="condSupId" disabled>
					</div>
				</div>
				<div class="setting-grid-title">공급자명</div>
				<div class="setting-grid-content">
					<div class="input-wrapper">
						<input type="text" id="condSupNm" disabled>
					</div>
				</div>
				<div class="setting-grid-title">사용일자</div>
				<div class="setting-grid-content">
					<div class="input-date-group">
						<input type="date" id="condShStDtSt">
						<span>~</span>
						<input type="date" id="condShStDtEnd">
					</div>
				</div>
				<div class="setting-grid-title">수요자ID</div>
				<div class="setting-grid-content">
					<div class="input-wrapper">
						<input type="text" id="condConId">
					</div>
				</div>
				<div class="setting-grid-title">수요자명</div>
				<div class="setting-grid-content">
					<div class="input-wrapper">
						<input type="text" id="condConNm">
					</div>
				</div>
			</div>
			<div class="search-btn-group">
				<div class="btn-search btn-green" id="search"><img>조회</div>
            	<div class="btn-clear btn-white" id="init"><img>초기화</div>
			</div>
			
			<div hidden id="prcpUserNm" sec:authentication="principal.username"></div>
			<div hidden id="prcpNickNm" sec:authentication="principal.nickname"></div>
		</div>
        <!--// 검색 -->
        <div class="search-list">
			<div class="list-top">
				<div class="list-title ic-title-mark">공유 수수로 정산 내역</div>
				<div class="list-btn-group">
					<div class="btn-green btn-end" id="save">수수료 정산</div>
				</div>
			</div>
			<!-- 개발 작업시 그리드 들어갈 부분 -->
			<div class="list-grid-wrapper con-box">
				<div id="pqgrid_div"></div>
			</div>
		</div>
	</div>
</html>