<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dc.mapper.DcMonitorMapper">
	
	<select id="selectMonitorList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT 
			C.COMPKEY
			, C.CONAMLC -- 회사 
			, W.WAREKEY
			, W.WHNAMLC -- 센터
			, CASE WHEN W.WHUSEYN = 'Y' THEN '사용' ELSE '미사용' END AS WHUSEYN -- 사용여부 
		    , Z.ZOBUILD -- 동
		    , Z.ZONEKEY -- 
		    , Z.ZONENAM -- ZONE명
		FROM GJ_WM.MZONMA Z
		INNER JOIN GJ_WM.MWARMA W ON Z.COMPKEY = W.COMPKEY AND Z.WAREKEY = W.WAREKEY
		INNER JOIN GJ_WM.MCOMMA C ON Z.COMPKEY = C.COMPKEY
		WHERE Z.COMPKEY = '100'
		  AND Z.WAREKEY = 'WH01'
		  AND Z.ZONETYP = 'STORAGE'
        <if test='schWHNAMLC != null and schWHNAMLC != ""'>
        	AND W.WHNAMLC LIKE CONCAT('%', #{schWHNAMLC} ,'%') 
        </if>
		<if test='schWAREKEY != null and schWAREKEY != ""'>
			AND W.WAREKEY LIKE CONCAT('%', #{schWAREKEY} ,'%')
		</if>
		<if test='schWHUSEYN != null and schWHUSEYN != ""'>
			AND W.WHUSEYN = #{schWHUSEYN}
		</if>
	</select>
	
	<select id="selectMonitorDtlList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT 
			SERIAL_NO
			, WHNAMLC
			, WAREKEY
			, SENSOR_TYPE
			, SENSOR_NM
			, USE_YN
			, FLOOR_PLAN_FILE
			, WARNING_DETECTION_TYPE
			, SENSOR_LOCATION
			, WARNING_DT
			, MNG_NM
			, PROP_MEDIUM
			, PROP_DT
			, PROP_DESC
		FROM GJ_OP.SENSOR_TEMP
		WHERE WHNAMLC = #{whnamlc}
		  AND WAREKEY = #{warekey}
		  AND ZONEKEY = #{zonekey}
	</select>
</mapper>