<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dc.mapper.DcSafesensorMapper">
	
	<select id="selectSafesensorList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			SENSOR_NO					-- 센서번호
			, SERIAL_NO					-- 시리얼번호
			, WHNAMLC 					-- 센터
			, WAREKEY 					-- 창고
			, SENSOR_TYPE 				-- 센서종류
			, SENSOR_NM 				-- 센서명
			, USE_YN					-- 사용여부
			, FLOOR_PLAN_FILE 			-- 도면파일
			, WARNING_DETECTION_TYPE 	-- 이상 감지 구분
			, SENSOR_LOCATION 			-- 위치
			, WARNING_DT 				-- 감지 일시
			, MNG_NM 					-- 담당자 이름
			, PROP_MEDIUM 				-- 전파 매체
			, PROP_DT 					-- 전파 일시
			, PROP_DESC 				-- 전파 내용
		  FROM GJ_OP.SENSOR_TEMP
		 WHERE IFNULL(WARNING_DETECTION_TYPE, '') = '' 
			<if test='schWHNAMLC != null and schWHNAMLC != ""'>
        	AND WHNAMLC LIKE CONCAT('%', #{schWHNAMLC} ,'%')
        	</if>
        	<if test='schWAREKEY != null and schWAREKEY != ""'>
        	AND WAREKEY LIKE CONCAT('%', #{schWAREKEY} ,'%')
        	</if>
        	<if test='schUseYn != null and schUseYn != ""'>
        	AND USE_YN LIKE CONCAT('%', #{schUseYn} ,'%')
        	</if>		
	</select>
	
	<insert id="createSafesensor" parameterType="java.util.List">
		INSERT INTO GJ_OP.SENSOR_TEMP(
			SENSOR_NO
			, WHNAMLC
			, WAREKEY
			, SENSOR_TYPE
			, SENSOR_NM
			, SERIAL_NO
			, USE_YN
			, FLOOR_PLAN_FILE
			, WARNING_DETECTION_TYPE
			, SENSOR_LOCATION
			, WARNING_DT
			, MNG_NM
			, PROP_MEDIUM
			, PROP_DT
			, PROP_DESC
			, CRE_DT
			, CRE_USER_ID
			, MOD_DT
			, MOD_USER_ID
		) VALUES (
			(SELECT CONCAT(TO_CHAR(NOW(), 'YYYYMMDD'), LPAD(IFNULL(CAST(SUBSTR(MAX(T.SENSOR_NO), 9) AS UNSIGNED), 0) + 1, 7, '0')) FROM GJ_OP.SENSOR_TEMP AS T)
			, #{WHNAMLC}
			, #{WAREKEY}
			, #{SENSOR_TYPE}
			, #{SENSOR_NM}
			, #{SERIAL_NO}
			, #{USE_YN}
			, #{FLOOR_PLAN_FILE}
			, #{WARNING_DETECTION_TYPE}
			, #{SENSOR_LOCATION}
			, #{WARNING_DT}
			, #{MNG_NM}
			, #{PROP_MEDIUM}
			, #{PROP_DT}
			, #{PROP_DESC}
			, NOW()
			, #{userId}
			, NOW()
			, #{userId}
		)
	</insert>
	
	<update id="updateSafesensor">
		UPDATE GJ_OP.SENSOR_TEMP
		   SET SENSOR_TYPE = #{SENSOR_TYPE}
		   	 , SENSOR_NM = #{SENSOR_NM}
			 , SERIAL_NO = #{SERIAL_NO} 
			 , FLOOR_PLAN_FILE = #{FLOOR_PLAN_FILE}
			 , USE_YN = #{USE_YN}
			 , MOD_DT = NOW() 
			 , MOD_USER_ID = #{userId}
		WHERE SENSOR_NO = #{SENSOR_NO}
	</update>
	
	<delete id="deleteSafesensor">
		DELETE FROM GJ_OP.SENSOR_TEMP
		WHERE SENSOR_NO = #{SENSOR_NO}
	</delete>
</mapper>